<div class="row">
	<div class="col-xl-12">
		<img src="assets/media/img/cheque.jpg" width="1300" height="300">
	</div>
</div>
<div class="row align-content-center">
	<div class="col-xl-8">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Nouvaux Carnetcheque'" [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">

			</kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<div [hidden]="submitted" style="width: 400px;">
					<form (ngSubmit)="onSubmit()">
						<div class="form-group">
							<label >rib</label>
							<input type="text" class="form-control" id="comptecatgorie" disabled [(ngModel)]="carnetcheque.compteCourant.rip "  name="comptecatgorie">
						</div>

						<div class="form-group">
							<label >nomber</label>
							<input type="number" class="form-control" id="nb" [required]="true" [(ngModel)]="carnetcheque.nb" name="nb">
						</div>
						<div class="form-group">
							<mat-form-field appearance="fill">
								<mat-label>barree </mat-label>
								<mat-select [(ngModel)]="carnetcheque.barre"  name="prep" >
									<mat-option *ngFor="let i of barre" [value]="i.value" >
										{{i.viewValue}}
									</mat-option>
								</mat-select>
							</mat-form-field>

						</div>

						<div [hidden]="true">
							<label >statut</label>
							<input type="text" class="form-control" id="statut" [required]="true" [(ngModel)]="carnetcheque.statut" name="statut" >
						</div>
						<div [hidden]="true" class="form-group">
							<label >date fin</label>
							<input type="date" class="form-control" id="datefin" [required]="true"  [(ngModel)]="carnetcheque.datedemande" name="datefin">
						</div>

						<button type="submit" class="btn btn-success">envoyer</button>
					</form>
				</div>

				<div [hidden]="!submitted">
					<h4>Votre demande a été envoyée avec succès!</h4>
					<button class="btn btn-success" (click)="newcarnetcheque()">Nouveau demande</button>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
