<div class="row">
	<div class="col-xl-12">
		<img src="assets/media/img/cartes.jpg" width="1300" height="300">
	</div>
</div>
<div class="row align-content-center">
	<div class="col-xl-8">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Nouvelle carte'" [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">

			</kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<div [hidden]="submitted" style="width: 400px;">
					<form (ngSubmit)="onSubmit()">
						<div class="form-group">
							<label >rip</label>
							<input type="text" class="form-control" id="comptecatgorie" disabled [(ngModel)]="carte.compteCourant.rip "  name="comptecatgorie">
						</div>
						<div class="form-group">
							<mat-form-field appearance="fill">
								<mat-label>type carte  </mat-label>
								<mat-select [(ngModel)]="carte.libelle"  name="lib" >
									<mat-option *ngFor="let i of typecarte" [value]="i.value" >
										{{i.viewValue}}
									</mat-option>
								</mat-select>
							</mat-form-field>

						</div>
						<div class="form-group">
							<label >plafond</label>
							<input type="text" class="form-control" id="plafond" [required]="true" [(ngModel)]="carte.plafond" name="plafond">
						</div>
						<div class="form-group">
							<mat-form-field appearance="fill">
								<mat-label>prepayee </mat-label>
								<mat-select [(ngModel)]="carte.prepayee"  name="prep" >
									<mat-option *ngFor="let i of prepayee" [value]="i.value" >
										{{i.viewValue}}
									</mat-option>
								</mat-select>
							</mat-form-field>

						</div>

						<div [hidden]="!carte.prepayee" class="form-group">
							<label >montant</label>
							<input type="text" class="form-control" id="montant" [required]="true" [(ngModel)]="carte.montant" name="montant">
						</div>
						<div class="form-group">
							<label >code Secret</label>
							<input type="password" class="form-control" id="codeSecret" [required]="true" [(ngModel)]="carte.codeSecret" name="codeSecret">
						</div>

						<div [hidden]="true">
							<label >statut</label>
							<input type="text" class="form-control" id="statut" [required]="true" [(ngModel)]="carte.statut" name="statut" >
						</div>
						<div class="form-group">
							<label >date fin</label>
							<input type="date" class="form-control" id="datefin" [required]="true"  [(ngModel)]="carte.dateExpiration" name="datefin">
						</div>

						<button type="submit" class="btn btn-success">envoyer</button>
					</form>
				</div>

				<div [hidden]="!submitted">
					<h4>Votre demande a été envoyée avec succès!</h4>
					<button class="btn btn-success" (click)="newcarte()">Nouveau demande</button>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
